<h3><%= asignacion.asignacion %></h3>
<h3><%= asignacion.areaName.name %></h3>
<p><%= asignacion.cultivoName.name %></p> 

<div>
<form action="/area/<%= asignacion.id %>/plan/?_method=PUT" method="post">
<table>
    <tr>
        <th>Actividad</th>
        <th>Fecha Programada</th>
        <th>Fecha de Cumplimiento</th>
        <th>Inventario</th>
    </tr>
    
    <% asignacion.cultivoActividad.forEach(actividad => { %>
        
        <tr> 
            <th><%= actividad.actividad.name %></th>
            <th>                
                <input type="date" name="act" value="<%= actividad.fechaPlan == null ? '' : actividad.fechaPlan.toISOString().split('T')[0] %>">                
            </th>
            <th>
                <div><%= actividad.fechaRealizacion != undefined ? actividad.fechaRealizacion.toDateString() : 'No se ha completado' %></div>
            </th>
            <th>Inventario</th>            
        </tr>
        
    <% }) %> 
</table>
<button type="submit">Guardar</button>
</form>
<a href="/area/<%= asignacion.id %>/show">Cancel</a>
</div>

